/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

form#GP-checkout-form{
    position: relative;
    padding: 20px 0;
}

*{
    box-sizing: border-box;
}

form#GP-checkout-form label{
    font-weight: inherit;
    margin-top: 10px;
}

input[type="submit"].GP-checkout-btn{
    background: #00AFEF !important;
    border-radius: 40px;
    display: block;
    margin: 20px 0 0;
}

input[type=text].GP-checkout-textbox,
input[type=number].GP-checkout-textbox,
input[type=email].GP-checkout-textbox,
select.GP-checkout-select{
    position: relative;
    width:100%;
}

input[type=text].GP-checkout-textbox.half{
    width:50%;
}

select.GP-checkout-select{width:100%; margin-top: 3px;}

input[type=text]:focus,input:focus,select:focus {outline: none; }

div.GP-checkout-notification {
 	padding: 20px;
 	line-height: 1.4;
 	z-index: 10000000;
 	pointer-events: none;
 	color: rgba(250,251,255,0.95);
 	font-size: 13px;
    font-weight:600;
    margin: 15px 0;
 	font-family: inherit;
 	-webkit-animation-name: animGenie;
 	animation-name: animGenie;
 	-webkit-animation-duration: 0.4s;
 	animation-duration: 0.4s;
	border-radius: 5px;
	box-shadow: 0 7px 6px rgba(0,0,0,0.12), 2px 4px 6px rgba(0,0,0,0.25);
}

div.GP-checkout-notification.danger{
    background: #eb4141f7;
}

div.GP-checkout-notification.info{
    background: #00AFEF;
}

@-webkit-keyframes animGenie {
	0% { opacity:0; -webkit-transform: translate3d(0,calc(200% + 30px),0) scale3d(0,1,1); -webkit-animation-timing-function: ease-in; }
	40% { opacity:0.5; -webkit-transform: translate3d(0,0,0) scale3d(0.02,1.1,1); -webkit-animation-timing-function: ease-out; }
	70% { opacity:0.6; -webkit-transform: translate3d(0,-40px,0) scale3d(0.8,1.1,1); }
	100% { opacity:1; -webkit-transform: translate3d(0,0,0) scale3d(1,1,1); }
}

@keyframes animGenie {
	0% { opacity:0; -webkit-transform: translate3d(0,calc(200% + 30px),0) scale3d(0,1,1); -webkit-animation-timing-function: ease-in; transform: translate3d(0,calc(200% + 30px),0) scale3d(0,1,1); animation-timing-function: ease-in; }
	40% { opacity:0.5; -webkit-transform: translate3d(0,0,0) scale3d(0.02,1.1,1); -webkit-animation-timing-function: ease-out; transform: translate3d(0,0,0) scale3d(0.02,1.1,1); animation-timing-function: ease-out; }
	70% { opacity:0.6; -webkit-transform: translate3d(0,-40px,0) scale3d(0.8,1.1,1); transform: translate3d(0,-40px,0) scale3d(0.8,1.1,1); }
	100% { opacity:1; -webkit-transform: translate3d(0,0,0) scale3d(1,1,1); transform: translate3d(0,0,0) scale3d(1,1,1); }
}